
/* change the colors from blueprint to green */
a:focus, a:hover {color:#6c0;}
a {color:#4a0}
thead th {background:#d9ffc3;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#ecf9e5;}

.box{background: #eCf9e5;}

