#wrapper {
  border-radius: 0px 0px 5px 5px;
}

header {
}

footer {
  text-align: center;
  color: #999;
  font-size: 90%;
  padding: 3px;
  border-top: 1px solid #DDD;
}

ul.right > li{
  float: right;
}

.comment-sidebar {
  float: left;
  width: 100px;
  margin-right: 20px;
}

.comment-content {
  overflow: auto;
}
