
/* black background */
body {
  background-color: #111;
}

/* white wrapper with green shadow */
#wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 50px #6c0, 0px 0px 25px #6c0;
  border-radius: 0px 0px 5px 5px;
}

header {
  height: 125px;
}

/* menu */
nav {
}

nav ul {
  overflow: auto;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background: #222;
  box-shadow: 0px 0px 15px #000;
  border-radius: 10px;
  float: left;
}

nav > ul > li {
  float: left;
}

nav > ul > li:hover {
  background-color: black;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 15px #000;
  text-shadow: 0px 0px 20px #6c0, 0px 0px 10px #6c0;
}

nav > ul > li > a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

h1 {
  border-bottom: 1px solid #ddd;
}

code {
  background-color: #DDD;
  border: 1px solid #AAA;
  border-radius: 3px;
}
