
/* change the colors from blueprint to green */
a:focus, a:hover {color:#6c0;}
a {color:#4a0}
thead th {background:#d9ffc3;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#ecf9e5;}

.box{background: #eCf9e5;}

/* black background */
body {
  background-color: black;
}

/* white wrapper with green shadow */
#wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 50px #4a0;
  border-radius: 0px 0px 5px 5px;
}

/* menu */
nav {
}

nav ul {
  overflow: auto;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background: #222;
  box-shadow: 0px 0px 15px #000;
  border-radius: 10px;
  float: left;
}

nav > ul > li {
  float: left;
}

nav > ul > li:hover {
  background-color: black;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 15px #000;
  text-shadow: 0px 0px 20px #6c0, 0px 0px 10px #6c0;
}

nav > ul > li > a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

