<!doctype html>
<html>
  <head>
    {% if page.title == 'Home'  %}
    <title>Void.php</title>
    {% else %}
    <title>Void.php - {{ page.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ site.baseurl }}css/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{ site.baseurl }}css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/style.css" />
  </head>
  <body>
    <div id="headerbg">
      <header class="container">
        <div id="logo" class="span-12">
          <img src="{{ site.baseurl }}images/void.php.png" title="void.php - change the way you write php" alt="void.php - change the way you write php" />
        </div>
        <nav class="span-12 last">
          <ul class="menu">
            <li><a href="{{ site.baseurl }}">Home</a></li>
            <li><a href="{{ site.baseurl }}pages/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}pages/getting-started.html">Getting Started</a></li>
            <li><a href="http://github.com/mogria/void.php">Git Repository</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="wrapper">
      <div class="container">
        <section class="span-16">
          {{ content }}
        </section>

        <aside class="span-8 last">
          <div class="box" id="downloads">
            <h3>Downloads</h3>
              <div id="zip" class="span-3">
                <a href="https://github.com/mogria/void.php/zipball/master"><img src="{{ site.baseurl }}images/zip-package.png" alt="download as .zip" /></a>
              </div>
              <div id="targz" class="span-4 last">
                <a href="https://github.com/mogria/void.php/tarball/master"><img src="{{ site.baseurl }}images/targz-package.png" alt="download as .tar.gz" /></a>
              </div>
              <p>Or you just want to clone a git-repository? See the <a href="https://github.com/mogria/void.php">GitHub-Project page</a>.</p>
          </div>
        </aside>
        <footer class="span-24 last">
        </footer>
      </div>
    </div>
  </body>
</html>
